@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    /*font-family: "Lato", sans-serif;*/
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color .5s;
    /*min-height: 100vh !important;*/
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    padding: 5px;
    margin: 5px;
    flex: 1 100%;
    border-radius: 5px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .close-btn {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .new-search {
    position: absolute;
    top: 14px;
    left: 0;
    font-size: 18px;
    margin-right: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.preview, #preview {
    max-width: 278px;
    max-height: 374px;
}

.match {
    object-fit: cover;
    width: 96px;
    height: 96px;
    overflow: auto;
}

.recent_img {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.recent_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (max-width: 768px), (max-width: 1024px) {
    .seeksense {
        margin: 0 15px;
    }
}

.proto-ip {
    font-size: 3rem;
}
